[user]
	email = par@binarypeak.se
	name = Pär Gregersson
[push]
	default = simple
[core]
	editor = emacs
	excludesfile = /Users/greget/.gitignore
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
